<div class="head">
  <div class="user_box">
    <div>
      <%= @game.title %>
    </div>
    <div>
      # <%= @game.game_id %>
    </div>
  </div>

  <div class="header">
    <div>Description</div>
  </div>
</div>

<div class="game_box">
  <div class="game_box_child">
    <div>
      <%= @game.game_description %>
    </div>
  </div>
</div>

