<div class="head">
  <div class="game_box">
    <div>
      <%= @game.title%> -
    </div>
    <div>
      # <%= @game.game_id %>
    </div>
  </div>

  <div class="header">
    <div>Description</div>
  </div>
  
  <div class="description_box">
	<div>
		<div>
			<%= @game.game_description %>
		</div>
	</div>
  </div>
</div>

