<%= link_to 'New games', new_game_path %>
<div class="content_box">
  <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
          <div class="content_box_child">
            <div>
              <%= game.title %>
            </div>
            <div>
              <%= game.game_id %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>