<div class="head">
  <div class="header_title">
    <div>
      <%= @game.title %>
    </div>
    <div>
      # <%= @game.game_id %>
    </div>
  </div>

  <div class="header">
    <div>Description</div>
  </div>
</div>

<div class="content_box">
  <div class="content_box_child">
    <div>
      <%= @game.game_description %>
    </div>
  </div>
</div>

