$primary-accent-color: rgba(33, 150, 243, 1.0);
$second-accent-color: rgba(33, 150, 243, 0.5);
$hover-color: rgba(33, 150, 243, 0.8);
$primary-background: white;
$hover-text-color: white;
$background: white;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$transition: all 0.5s cubic-bezier(.25, .8, .25, 1);