// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: #e2e1e0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.head{
  position: fixed;
  width: 100%;
  margin-top: -220px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header{
  background: white;
  padding: 32px 48px 32px 48px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.user_box{
  background: #007FFF;
  color: white;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-flow: row;
  font-size: 30pt;
}

.user_box > div {
  padding: 16px;
  left: 50px;
}

.game_box{
  width: 100%;
  height: 100%;
  margin-top: 220px;
  a {
    text-decoration: none;
    color: black;
  }
}

.game_box_child{
  font-size: 18pt;
  background: #fff;
  border-radius: 2px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 16px;
  padding: 32px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.game_box_child:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}